@inherits LayoutComponentBase

<div class="page">
    <Header />
    <section class="card text-white bg-primary py-1 text-center">
        <h1 class="display-1">Entry forms</h1>
    </section>
    <main class="container py-5">
        @Body
    </main>
</div>
